img {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

body {
  margin-left: 364px;
  margin-right: 364px;
  margin-bottom: 60px;
  margin-top: 60px;
  @media screen and (max-width: 600px) {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 30px;
    margin-top: 35px;
    
  }
}

.likebutton{
  height: 60px;
  width: 60px;
}